{% extends "main.html" %} {% block content %} {{ super() }}

<div class="grid-container">
  {% for item in config.images %}
  <div class="grid-item">
    <div class="card">
      <a
        class="glightbox"
        href="{{ item.url }}"
        data-height="auto"
        data-width="100%"
      >
        <img
          src="{{ item.url }}"
          alt="{{ item.caption }}"
          class="card-img-top"
        />
      </a>
      <div class="card-body">
        <h2 class="card-title">{{ item.title }}</h2>
        <p class="card-text">{{ item.caption }}</p>
        <div class="tags">
          {% for tag in item.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
